extends layout

block content
    include NavBar
    include PageContent

    script(src="/js/jquery.js")
    script(src="/js/underscore.js")
    script(src="/js/Backbone.js")
    script(src="/js/handlebars.js")
    script(src="/js/Event.js")