div.container-fluid
    div.row-fluid
        div#content


script(type="text/x-handlebars-template", id="main-page-template")
    include mainpage.html

script(type="text/x-handlebars-template", id="talks-template")
    include talks.html

script(type="text/x-handlebars-template", id="speakers-template")
    include speakers.html